.DS_Store
Data/
ttg/
.idea
scrapeWeatherData
Backend/__pycache__
venv
batch/TTF_POI.csv
batch/data
.ipynb_checkpoints/
clean_data/
raw_data/
cross_val_plots/
Frontend/package-lock.json
Frontend/public/Data
Backend/data/
Frontend/package-lock.json
